a{
    text-decoration: none;
    color: black;
}

.navbar-bg{
    width: 100%;
    position: fixed;
    z-index: 2;
}

.sb__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d32;
    border-radius: 0.5rem;
    border: 1px solid #8000e5;
    margin: 2.6rem 2rem;
    padding: auto 2rem;
}

.sb__navbar-links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sb__navbar-links_logo img{
    width: 210px;
    height: auto
}

.sb__navbar-links_container{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

.sb__navbar-links_container p,
.sb__navbar-menu_container p{
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    margin: 0.5rem;
    cursor: pointer;
}

.sb__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
    margin-right: 2rem;
}

.sb__navbar-menu svg{
    color: white;
    cursor: pointer
}

.sb__navbar-menu_container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: #2d2d32;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 55px;
    margin-top: 1rem;
    min-width: 170px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.sb__navbar-menu_container p{
    margin-top: 0,5rem;
}

.sb__navbar-menu_container-links-sign{
    display: none;
}

.scale-up-center{
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0,565, 1) both;
}

@-webkit-keyframes scale-up-center{
    0%{
        -webkit-animation: scale(0.5);
        transform: scale(0.5);
    }

    100%{
        -webkit-animation: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center{
    0%{
        -webkit-animation: scale(0.5);
        transform: scale(0.5);
    }

    100%{
        -webkit-animation: scale(1);
        transform: scale(1);
    }
}

/*-----------------------responsive--------------------------*/

@media screen and (max-width:1050px) {
    .sb__navbar-links_container{
        display: none;
    }

    .sb__navbar-menu{
        display: flex;
    }
}

@media screen and (max-width:700px) {
    .sb__navbar{
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width:550px) {
    .sb__navbar{
        padding: 0.5rem;
    }

    .sb__navbar-links_logo img{
        padding: 0.4rem 1rem;
    }
}